.editar {
    cursor: pointer;
    :hover{
        color:red;
        transition: 0.7s;
    }
    }

.excluir{
    cursor: pointer;
    :hover{
        color: black;
        transition: 0.7s;
        transform: scale(1.1);

    }
}