.ListaRestaurantes {
  margin-top: 1.5rem;
  padding: 2rem;
  font-family: 'Bebas Neue', cursive;
  display: flex;
  flex-direction: column;
}

.botaoVer {
  border-radius: 28px;
  color: #FFF;
  display: inline-block;
  background: #f2745f;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 500;
  border-color: #f2745f;
  cursor: pointer;
  text-transform: uppercase;
  border-style: solid;
  font-family: 'Bebas Neue', cursive;
  font-size:large;
  width: 250px;
  margin-left: 595px;
  margin-top: 20px;
  &:hover {
      color: #000;
      background: #fff;
      border-color: black;
  }
}