.MiniBanners {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'Bebas Neue', cursive;
    

    img {
        max-height: 185px;
    }

    .CardCentral {
        background-color: #f2745f;
        text-align: center;
        padding: 30px;
        color: #FFF;

        h2 {
            max-width: 70%;
            display: inline-block;
            
        }

        a {
            text-decoration: none;
            color: #631406;
            font-weight: bold;
        }
    }
}

.Categorias {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'Bebas Neue', cursive;

    .TipoDePrato {
        text-align: center;
        font-family: 'Bebas Neue', cursive;

        img {
            max-width: 100%;
            overflow: hidden;
            border: 10px solid #eaf0ff;
            border-radius: 50%;
        }

        h4 {
            margin-top: 20px;
            font-size: 22px;
            color: #121212;
            font-weight: 600;
            margin-bottom: 0px;
            font-family: 'Bebas Neue', cursive;
        }
    }

}
.Links {
    text-align: center;
    margin: 2.5rem 0;
    font-family: 'Bebas Neue', cursive;

}

.restaurantes {
    border-radius: 28px;
    color: #FFF;
    display: inline-block;
    background: #f2745f;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 500;
    border-color: #f2745f;
    cursor: pointer;
    text-transform: uppercase;
    border-style: solid;
    font-family: 'Bebas Neue', cursive;
    font-size:large;
    width: 250px;
    margin-top: 20px;
    &:hover {
        color: #000;
        background: #fff;
        border-color: black;
        transition: 0.6s;
    }
  }
